<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>账单</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/list.css">

</head>
<body>
  <div class="concain">
    <div class="logout">
      <a class="logout-btn" href="/logout">退出</a>
    </div>

    <div class="header">
      <div class="title">记账本
        <a class="title-right" href="/account/create">添加记录</a>
      </div>
    </div>
  
    <div class="content">

      <% accounts.forEach(item => { %>
      <div class="item">
        <div class="date 
            <%= item.type === -1 ? 'type-1' : 'type-2' %>">
            <%= moment(item.time).format('YYYY-MM-DD') %>
        </div>
        <div class="text">
          <div class="left">
            <div class="desc"><%= item.title %></div>
          </div>
          <div class="right">
            <div class="type <%= item.type === -1 ? 'type-1' : 'type-2' %>">
              <%= item.type === '-1' ? '支出' : '收入' %>
            </div>
            <div class="price"><%= item.account %>元</div>
          </div>
          <a href="/account/<%= item._id %>">
            <span class="end">×</span>
          </a>
        </div>
      </div>

      <% }) %>

    </div>

  </div>

  <script>
    // 获取所有具有类名为 .end 的元素
    let endElements = document.querySelectorAll('.end');
  
    // 遍历所有元素，并为每个元素添加点击事件监听器
    endElements.forEach(item => {
      item.addEventListener('click', function(e) {
        // 弹出确认框，询问是否删除
        if (!confirm('您确定删除该文档吗？')) {
          e.preventDefault(); // 取消默认事件，阻止链接跳转或表单提交
        }
      });
    });
  </script>
  
</body>
</html>